# Is my client going to exit my bank?

Exercise:
In the CSV file called *Churn_Modelling.csv* you will find information about different particulars, like:
- geography
- Gender
- Age
- Tenure
- ...

Your work as a Data Scientist in the bank is to build a model that detects whether a customer will leave the bank.
For that, the CSV file has a column named: EXITED, which tells you if the customer has left or not.

As it is trendy nowadays, your boss has told you to use DeepLearning.

Please, Remember the Universal **Workflow of ML** in order to handle this problem.

## Part1 - Data Preprocessing
Make use of the knowledge you already have to build:
- X_train, X_test, X_val
- y_train, y_test, y_val

Remember! you have Categorical data!

### importing Libraries

In [1]:
# Importing the libraries

### Importing the dataset

In [2]:
# Importing the dataset
import pandas as pd

df = pd.read_csv("Churn_Modelling.csv")
df

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,4,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,5,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,9996,15606229,Obijiaku,771,France,Male,39,5,0.00,2,1,0,96270.64,0
9996,9997,15569892,Johnstone,516,France,Male,35,10,57369.61,1,1,1,101699.77,0
9997,9998,15584532,Liu,709,France,Female,36,7,0.00,1,0,1,42085.58,1
9998,9999,15682355,Sabbatini,772,Germany,Male,42,3,75075.31,2,1,0,92888.52,1
9999,10000,15628319,Walker,792,France,Female,28,4,130142.79,1,1,0,38190.78,0

In [3]:
'''
We will delete the following columns that will not be relevant for our furture model:
- RowNumber
- CustomerId: unique number on each customer
- Surname: not relevant
'''

df = df.drop(['RowNumber', 'CustomerId', 'Surname'], axis=1)
df

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0
...,...,...,...,...,...,...,...,...,...,...,...
9995,771,France,Male,39,5,0.00,2,1,0,96270.64,0
9996,516,France,Male,35,10,57369.61,1,1,1,101699.77,0
9997,709,France,Female,36,7,0.00,1,0,1,42085.58,1
9998,772,Germany,Male,42,3,75075.31,2,1,0,92888.52,1
9999,792,France,Female,28,4,130142.79,1,1,0,38190.78,0

### Handling Categorical values
which ones are categorical? how do we handle them? (did someone say One hot encoding?)

In [4]:
#Handle Categorical values

from sklearn.preprocessing import OneHotEncoder

num_cols = [
    "CreditScore", 
    "Age", 
    "Tenure", 
    "Balance", 
    "NumOfProducts", 
    "HasCrCard", 
    "IsActiveMember", 
    "EstimatedSalary"
]

cat_cols = [
    "Geography",
    "Gender"
]

df_num = df[num_cols]
df_cat = df[cat_cols]
df_target = df['Exited']

enc = OneHotEncoder(handle_unknown='ignore').fit(df_cat)
df_cat_encoded = pd.DataFrame(enc.transform(df_cat).toarray())

df_cat_encoded.head()

     0    1    2    3    4
0  1.0  0.0  0.0  1.0  0.0
1  0.0  0.0  1.0  1.0  0.0
2  1.0  0.0  0.0  1.0  0.0
3  1.0  0.0  0.0  1.0  0.0
4  0.0  0.0  1.0  1.0  0.0

In [5]:
df_final = pd.DataFrame(df_num)
df_final = df_final.join(df_cat_encoded)
df_final = df_final.join(df_target)
df_final

,CreditScore,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,0,1,2,3,4,Exited
0,619,42,2,0.00,1,1,1,101348.88,1.0,0.0,0.0,1.0,0.0,1
1,608,41,1,83807.86,1,0,1,112542.58,0.0,0.0,1.0,1.0,0.0,0
2,502,42,8,159660.80,3,1,0,113931.57,1.0,0.0,0.0,1.0,0.0,1
3,699,39,1,0.00,2,0,0,93826.63,1.0,0.0,0.0,1.0,0.0,0
4,850,43,2,125510.82,1,1,1,79084.10,0.0,0.0,1.0,1.0,0.0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,771,39,5,0.00,2,1,0,96270.64,1.0,0.0,0.0,0.0,1.0,0
9996,516,35,10,57369.61,1,1,1,101699.77,1.0,0.0,0.0,0.0,1.0,0
9997,709,36,7,0.00,1,0,1,42085.58,1.0,0.0,0.0,1.0,0.0,1
9998,772,42,3,75075.31,2,1,0,92888.52,0.0,1.0,0.0,0.0,1.0,1
9999,792,28,4,130142.79,1,1,0,38190.78,1.0,0.0,0.0,1.0,0.0,0

### Split the data
please use random_state=42 in order to be able to compare all the solutions

In [6]:
# Splitting the dataset into the Training set, Test set and validation set
# please use random_state=42

from sklearn.model_selection import train_test_split

X = df_final.iloc[:,:-1]
y = df_final.iloc[:,-1]

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

### Remember, we should always scale the inputs for a Neural network

In [7]:
# Feature Scaling
from sklearn.preprocessing import StandardScaler

scaler = StandardScaler().fit(X_train)

X_train = scaler.transform(X_train)
X_test = scaler.transform(X_test)

We have preprocessed the data! now, lets go to the second part!

## Part 2 - Lets Build our ANN

Always taking into account the Universal workflow of ML
you can use all the workflow, or only a part of it:


*   For example, Number 8, hyperparameter optimization is not mandatory, you can choose, if you think your model is good enogh, just don't do it
*   or... you don't have to use all the regularization techniques in step 7, choose the ones you think are the best, and try.
* **But I really think that step 1 through 6 and step 9 are always mandatory**

Evaluate your model on the test set! how accurate is it? which is the confussion matrix?

In [45]:
## Part 2 - Model building
from tensorflow.keras import models
from tensorflow.keras import layers
from tensorflow.keras.utils import plot_model
from tensorflow.keras.callbacks import EarlyStopping

nn = models.Sequential([
    layers.Dense(256, activation='relu', input_shape=(X_train.shape[1],)),
    layers.Dense(256, activation='relu'),
    layers.Dense(1, activation='sigmoid')
])

nn.compile(optimizer='rmsprop', loss='mean_squared_error', metrics=['binary_accuracy'])

EarlyStopping_CallBack = [EarlyStopping(monitor='val_loss', min_delta=0, patience=100, verbose=0, mode='auto', baseline=None)]
nn.fit(X_train, y_train, callbacks=EarlyStopping_CallBack, epochs=500, batch_size=512, validation_data=(X_test, y_test))

Train on 8000 samples, validate on 2000 samples
Epoch 1/500
8000/8000 [==============================] - 0s 53us/sample - loss: 0.1520 - binary_accuracy: 0.7832 - val_loss: 0.1299 - val_binary_accuracy: 0.8245
Epoch 2/500
8000/8000 [==============================] - 0s 6us/sample - loss: 0.1289 - binary_accuracy: 0.8295 - val_loss: 0.1190 - val_binary_accuracy: 0.8395
Epoch 3/500
8000/8000 [==============================] - 0s 5us/sample - loss: 0.1185 - binary_accuracy: 0.8459 - val_loss: 0.1101 - val_binary_accuracy: 0.8540
Epoch 4/500
8000/8000 [==============================] - 0s 6us/sample - loss: 0.1109 - binary_accuracy: 0.8554 - val_loss: 0.1053 - val_binary_accuracy: 0.8595
Epoch 5/500
8000/8000 [==============================] - 0s 6us/sample - loss: 0.1065 - binary_accuracy: 0.8593 - val_loss: 0.1095 - val_binary_accuracy: 0.8550
Epoch 6/500
8000/8000 [==============================] - 0s 6us/sample - loss: 0.1054 - binary_accuracy: 0.8601 - val_loss: 0.1080 - val_binary_accuracy: 0.8560
Epoch 7/500
8000/8000 [==============================] - 0s 6us/sample - loss: 0.1034 - binary_accuracy: 0.8626 - val_loss: 0.1062 - val_binary_accuracy: 0.8560
Epoch 8/500
8000/8000 [==============================] - 0s 5us/sample - loss: 0.1029 - binary_accuracy: 0.8627 - val_loss: 0.1063 - val_binary_accuracy: 0.8600
Epoch 9/500
8000/8000 [==============================] - 0s 5us/sample - loss: 0.1022 - binary_accuracy: 0.8619 - val_loss: 0.1055 - val_binary_accuracy: 0.8600
Epoch 10/500
8000/8000 [==============================] - 0s 5us/sample - loss: 0.1019 - binary_accuracy: 0.8630 - val_loss: 0.1103 - val_binary_accuracy: 0.8535
Epoch 11/500
8000/8000 [==============================] - 0s 5us/sample - loss: 0.1015 - binary_accuracy: 0.8629 - val_loss: 0.1034 - val_binary_accuracy: 0.8620
Epoch 12/500
8000/8000 [==============================] - 0s 6us/sample - loss: 0.1001 - binary_accuracy: 0.8680 - val_loss: 0.1026 - val_binary_accuracy: 0.8605
Epoch 13/500
8000/8000 [==============================] - ETA: 0s - loss: 0.1104 - binary_accuracy: 0.843 - 0s 5us/sample - loss: 0.0997 - binary_accuracy: 0.8650 - val_loss: 0.1038 - val_binary_accuracy: 0.8630
Epoch 14/500
8000/8000 [==============================] - 0s 5us/sample - loss: 0.0996 - binary_accuracy: 0.8685 - val_loss: 0.1046 - val_binary_accuracy: 0.8595
Epoch 15/500
8000/8000 [==============================] - 0s 5us/sample - loss: 0.0989 - binary_accuracy: 0.8665 - val_loss: 0.1044 - val_binary_accuracy: 0.8595
Epoch 16/500
8000/8000 [==============================] - 0s 5us/sample - loss: 0.0977 - binary_accuracy: 0.8660 - val_loss: 0.1042 - val_binary_accuracy: 0.8620
Epoch 17/500
8000/8000 [==============================] - 0s 5us/sample - loss: 0.0977 - binary_accuracy: 0.8700 - val_loss: 0.1035 - val_binary_accuracy: 0.8605
Epoch 18/500
8000/8000 [==============================] - 0s 5us/sample - loss: 0.0967 - binary_accuracy: 0.8690 - val_loss: 0.1072 - val_binary_accuracy: 0.8540
Epoch 19/500
8000/8000 [==============================] - 0s 5us/sample - loss: 0.0966 - binary_accuracy: 0.8704 - val_loss: 0.1044 - val_binary_accuracy: 0.8595
Epoch 20/500
8000/8000 [==============================] - 0s 6us/sample - loss: 0.0957 - binary_accuracy: 0.8711 - val_loss: 0.1063 - val_binary_accuracy: 0.8565
Epoch 21/500
8000/8000 [==============================] - 0s 6us/sample - loss: 0.0964 - binary_accuracy: 0.8723 - val_loss: 0.1027 - val_binary_accuracy: 0.8650
Epoch 22/500
8000/8000 [==============================] - 0s 6us/sample - loss: 0.0958 - binary_accuracy: 0.8714 - val_loss: 0.1032 - val_binary_accuracy: 0.8615
Epoch 23/500
8000/8000 [==============================] - 0s 6us/sample - loss: 0.0942 - binary_accuracy: 0.8752 - val_loss: 0.1031 - val_binary_accuracy: 0.8585
Epoch 24/500
8000/8000 [==============================] - 0s 6us/sample - loss: 0.0953 - binary_accuracy: 0.8723 - val_loss: 0.1025 - val_binary_accuracy: 0.8630
Epoch 25/500
8000/8000 [==============================] - 0s 6us/sample - loss: 0.0944 - binary_accuracy: 0.8729 - val_loss: 0.1029 - val_binary_accuracy: 0.8600
Epoch 26/500
8000/8000 [==============================] - 0s 5us/sample - loss: 0.0938 - binary_accuracy: 0.8752 - val_loss: 0.1043 - val_binary_accuracy: 0.8610
Epoch 27/500
8000/8000 [==============================] - 0s 6us/sample - loss: 0.0945 - binary_accuracy: 0.8748 - val_loss: 0.1035 - val_binary_accuracy: 0.8590
Epoch 28/500
8000/8000 [==============================] - 0s 6us/sample - loss: 0.0937 - binary_accuracy: 0.8755 - val_loss: 0.1028 - val_binary_accuracy: 0.8625
Epoch 29/500
8000/8000 [==============================] - 0s 6us/sample - loss: 0.0928 - binary_accuracy: 0.8765 - val_loss: 0.1106 - val_binary_accuracy: 0.8470
Epoch 30/500
8000/8000 [==============================] - 0s 5us/sample - loss: 0.0921 - binary_accuracy: 0.8770 - val_loss: 0.1044 - val_binary_accuracy: 0.8630
Epoch 31/500
8000/8000 [==============================] - 0s 6us/sample - loss: 0.0931 - binary_accuracy: 0.8759 - val_loss: 0.1036 - val_binary_accuracy: 0.8645
Epoch 32/500
8000/8000 [==============================] - 0s 5us/sample - loss: 0.0913 - binary_accuracy: 0.8794 - val_loss: 0.1046 - val_binary_accuracy: 0.8630
Epoch 33/500
8000/8000 [==============================] - 0s 5us/sample - loss: 0.0920 - binary_accuracy: 0.8794 - val_loss: 0.1044 - val_binary_accuracy: 0.8565
Epoch 34/500
8000/8000 [==============================] - 0s 5us/sample - loss: 0.0924 - binary_accuracy: 0.8767 - val_loss: 0.1038 - val_binary_accuracy: 0.8600
Epoch 35/500
8000/8000 [==============================] - 0s 6us/sample - loss: 0.0899 - binary_accuracy: 0.8796 - val_loss: 0.1035 - val_binary_accuracy: 0.8630
Epoch 36/500
8000/8000 [==============================] - 0s 6us/sample - loss: 0.0903 - binary_accuracy: 0.8835 - val_loss: 0.1116 - val_binary_accuracy: 0.8480
Epoch 37/500
8000/8000 [==============================] - 0s 6us/sample - loss: 0.0906 - binary_accuracy: 0.8794 - val_loss: 0.1073 - val_binary_accuracy: 0.8545
Epoch 38/500
8000/8000 [==============================] - 0s 6us/sample - loss: 0.0893 - binary_accuracy: 0.8832 - val_loss: 0.1052 - val_binary_accuracy: 0.8585
Epoch 39/500
8000/8000 [==============================] - 0s 6us/sample - loss: 0.0901 - binary_accuracy: 0.8810 - val_loss: 0.1055 - val_binary_accuracy: 0.8540
Epoch 40/500
8000/8000 [==============================] - 0s 6us/sample - loss: 0.0892 - binary_accuracy: 0.8824 - val_loss: 0.1053 - val_binary_accuracy: 0.8590
Epoch 41/500
8000/8000 [==============================] - 0s 6us/sample - loss: 0.0895 - binary_accuracy: 0.8809 - val_loss: 0.1053 - val_binary_accuracy: 0.8580
Epoch 42/500
8000/8000 [==============================] - 0s 6us/sample - loss: 0.0878 - binary_accuracy: 0.8835 - val_loss: 0.1047 - val_binary_accuracy: 0.8615
Epoch 43/500
8000/8000 [==============================] - 0s 6us/sample - loss: 0.0890 - binary_accuracy: 0.8826 - val_loss: 0.1051 - val_binary_accuracy: 0.8615
Epoch 44/500
8000/8000 [==============================] - 0s 6us/sample - loss: 0.0866 - binary_accuracy: 0.8859 - val_loss: 0.1086 - val_binary_accuracy: 0.8560
Epoch 45/500
8000/8000 [==============================] - 0s 6us/sample - loss: 0.0878 - binary_accuracy: 0.8880 - val_loss: 0.1052 - val_binary_accuracy: 0.8635
Epoch 46/500
8000/8000 [==============================] - 0s 6us/sample - loss: 0.0870 - binary_accuracy: 0.8871 - val_loss: 0.1220 - val_binary_accuracy: 0.8330
Epoch 47/500
8000/8000 [==============================] - 0s 6us/sample - loss: 0.0869 - binary_accuracy: 0.8861 - val_loss: 0.1075 - val_binary_accuracy: 0.8525
Epoch 48/500
8000/8000 [==============================] - 0s 6us/sample - loss: 0.0854 - binary_accuracy: 0.8910 - val_loss: 0.1078 - val_binary_accuracy: 0.8580
Epoch 49/500
8000/8000 [==============================] - 0s 6us/sample - loss: 0.0865 - binary_accuracy: 0.8861 - val_loss: 0.1053 - val_binary_accuracy: 0.8625
Epoch 50/500
8000/8000 [==============================] - 0s 6us/sample - loss: 0.0861 - binary_accuracy: 0.8873 - val_loss: 0.1127 - val_binary_accuracy: 0.8470
Epoch 51/500
8000/8000 [==============================] - 0s 5us/sample - loss: 0.0854 - binary_accuracy: 0.8885 - val_loss: 0.1110 - val_binary_accuracy: 0.8515
Epoch 52/500
8000/8000 [==============================] - 0s 6us/sample - loss: 0.0851 - binary_accuracy: 0.8869 - val_loss: 0.1083 - val_binary_accuracy: 0.8570
Epoch 53/500
8000/8000 [==============================] - 0s 5us/sample - loss: 0.0862 - binary_accuracy: 0.8873 - val_loss: 0.1037 - val_binary_accuracy: 0.8605
Epoch 54/500
8000/8000 [==============================] - 0s 6us/sample - loss: 0.0843 - binary_accuracy: 0.8876 - val_loss: 0.1036 - val_binary_accuracy: 0.8615
Epoch 55/500
8000/8000 [==============================] - 0s 5us/sample - loss: 0.0837 - binary_accuracy: 0.8895 - val_loss: 0.1152 - val_binary_accuracy: 0.8360
Epoch 56/500
8000/8000 [==============================] - 0s 6us/sample - loss: 0.0840 - binary_accuracy: 0.8904 - val_loss: 0.1108 - val_binary_accuracy: 0.8485
Epoch 57/500
8000/8000 [==============================] - 0s 5us/sample - loss: 0.0832 - binary_accuracy: 0.8917 - val_loss: 0.1196 - val_binary_accuracy: 0.8345
Epoch 58/500
8000/8000 [==============================] - 0s 5us/sample - loss: 0.0835 - binary_accuracy: 0.8925 - val_loss: 0.1057 - val_binary_accuracy: 0.8600
Epoch 59/500
8000/8000 [==============================] - 0s 5us/sample - loss: 0.0831 - binary_accuracy: 0.8915 - val_loss: 0.1047 - val_binary_accuracy: 0.8590
Epoch 60/500
8000/8000 [==============================] - 0s 5us/sample - loss: 0.0820 - binary_accuracy: 0.8932 - val_loss: 0.1152 - val_binary_accuracy: 0.8405
Epoch 61/500
8000/8000 [==============================] - 0s 5us/sample - loss: 0.0813 - binary_accuracy: 0.8945 - val_loss: 0.1101 - val_binary_accuracy: 0.8475
Epoch 62/500
8000/8000 [==============================] - 0s 5us/sample - loss: 0.0836 - binary_accuracy: 0.8885 - val_loss: 0.1038 - val_binary_accuracy: 0.8620
Epoch 63/500
8000/8000 [==============================] - 0s 6us/sample - loss: 0.0819 - binary_accuracy: 0.8917 - val_loss: 0.1065 - val_binary_accuracy: 0.8575
Epoch 64/500
8000/8000 [==============================] - 0s 5us/sample - loss: 0.0811 - binary_accuracy: 0.8938 - val_loss: 0.1091 - val_binary_accuracy: 0.8525
Epoch 65/500
8000/8000 [==============================] - 0s 6us/sample - loss: 0.0845 - binary_accuracy: 0.8878 - val_loss: 0.1112 - val_binary_accuracy: 0.8475
Epoch 66/500
8000/8000 [==============================] - 0s 6us/sample - loss: 0.0793 - binary_accuracy: 0.8986 - val_loss: 0.1081 - val_binary_accuracy: 0.8545
Epoch 67/500
8000/8000 [==============================] - 0s 6us/sample - loss: 0.0811 - binary_accuracy: 0.8949 - val_loss: 0.1063 - val_binary_accuracy: 0.8595
Epoch 68/500
8000/8000 [==============================] - 0s 6us/sample - loss: 0.0812 - binary_accuracy: 0.8942 - val_loss: 0.1216 - val_binary_accuracy: 0.8330
Epoch 69/500
8000/8000 [==============================] - 0s 6us/sample - loss: 0.0804 - binary_accuracy: 0.8969 - val_loss: 0.1106 - val_binary_accuracy: 0.8540
Epoch 70/500
8000/8000 [==============================] - 0s 6us/sample - loss: 0.0798 - binary_accuracy: 0.8976 - val_loss: 0.1054 - val_binary_accuracy: 0.8630
Epoch 71/500
8000/8000 [==============================] - 0s 6us/sample - loss: 0.0808 - binary_accuracy: 0.8928 - val_loss: 0.1085 - val_binary_accuracy: 0.8545
Epoch 72/500
8000/8000 [==============================] - 0s 6us/sample - loss: 0.0782 - binary_accuracy: 0.9013 - val_loss: 0.1106 - val_binary_accuracy: 0.8500
Epoch 73/500
8000/8000 [==============================] - 0s 6us/sample - loss: 0.0802 - binary_accuracy: 0.8963 - val_loss: 0.1183 - val_binary_accuracy: 0.8375
Epoch 74/500
8000/8000 [==============================] - 0s 6us/sample - loss: 0.0792 - binary_accuracy: 0.8955 - val_loss: 0.1095 - val_binary_accuracy: 0.8515
Epoch 75/500
8000/8000 [==============================] - 0s 6us/sample - loss: 0.0785 - binary_accuracy: 0.8963 - val_loss: 0.1102 - val_binary_accuracy: 0.8570
Epoch 76/500
8000/8000 [==============================] - 0s 5us/sample - loss: 0.0793 - binary_accuracy: 0.8979 - val_loss: 0.1119 - val_binary_accuracy: 0.8505
Epoch 77/500
8000/8000 [==============================] - 0s 5us/sample - loss: 0.0779 - binary_accuracy: 0.9009 - val_loss: 0.1136 - val_binary_accuracy: 0.8440
Epoch 78/500
8000/8000 [==============================] - 0s 6us/sample - loss: 0.0778 - binary_accuracy: 0.9011 - val_loss: 0.1121 - val_binary_accuracy: 0.8460
Epoch 79/500
8000/8000 [==============================] - 0s 5us/sample - loss: 0.0799 - binary_accuracy: 0.8929 - val_loss: 0.1141 - val_binary_accuracy: 0.8450
Epoch 80/500
8000/8000 [==============================] - 0s 5us/sample - loss: 0.0773 - binary_accuracy: 0.8994 - val_loss: 0.1088 - val_binary_accuracy: 0.8570
Epoch 81/500
8000/8000 [==============================] - 0s 6us/sample - loss: 0.0775 - binary_accuracy: 0.8991 - val_loss: 0.1138 - val_binary_accuracy: 0.8450
Epoch 82/500
8000/8000 [==============================] - 0s 5us/sample - loss: 0.0767 - binary_accuracy: 0.9016 - val_loss: 0.1077 - val_binary_accuracy: 0.8600
Epoch 83/500
8000/8000 [==============================] - 0s 6us/sample - loss: 0.0768 - binary_accuracy: 0.9014 - val_loss: 0.1078 - val_binary_accuracy: 0.8595
Epoch 84/500
8000/8000 [==============================] - 0s 5us/sample - loss: 0.0750 - binary_accuracy: 0.9051 - val_loss: 0.1151 - val_binary_accuracy: 0.8420
Epoch 85/500
8000/8000 [==============================] - 0s 5us/sample - loss: 0.0768 - binary_accuracy: 0.9041 - val_loss: 0.1087 - val_binary_accuracy: 0.8565
Epoch 86/500
8000/8000 [==============================] - 0s 5us/sample - loss: 0.0749 - binary_accuracy: 0.9045 - val_loss: 0.1079 - val_binary_accuracy: 0.8590
Epoch 87/500
8000/8000 [==============================] - 0s 5us/sample - loss: 0.0769 - binary_accuracy: 0.9021 - val_loss: 0.1089 - val_binary_accuracy: 0.8585
Epoch 88/500
8000/8000 [==============================] - 0s 6us/sample - loss: 0.0750 - binary_accuracy: 0.9043 - val_loss: 0.1115 - val_binary_accuracy: 0.8525
Epoch 89/500
8000/8000 [==============================] - 0s 6us/sample - loss: 0.0734 - binary_accuracy: 0.9057 - val_loss: 0.1069 - val_binary_accuracy: 0.8610
Epoch 90/500
8000/8000 [==============================] - 0s 6us/sample - loss: 0.0770 - binary_accuracy: 0.9019 - val_loss: 0.1114 - val_binary_accuracy: 0.8530
Epoch 91/500
8000/8000 [==============================] - 0s 5us/sample - loss: 0.0733 - binary_accuracy: 0.9079 - val_loss: 0.1171 - val_binary_accuracy: 0.8350
Epoch 92/500
8000/8000 [==============================] - 0s 5us/sample - loss: 0.0747 - binary_accuracy: 0.9028 - val_loss: 0.1135 - val_binary_accuracy: 0.8425
Epoch 93/500
8000/8000 [==============================] - 0s 6us/sample - loss: 0.0750 - binary_accuracy: 0.9046 - val_loss: 0.1100 - val_binary_accuracy: 0.8505
Epoch 94/500
8000/8000 [==============================] - 0s 5us/sample - loss: 0.0727 - binary_accuracy: 0.9069 - val_loss: 0.1142 - val_binary_accuracy: 0.8445
Epoch 95/500
8000/8000 [==============================] - 0s 6us/sample - loss: 0.0724 - binary_accuracy: 0.9089 - val_loss: 0.1098 - val_binary_accuracy: 0.8580
Epoch 96/500
8000/8000 [==============================] - 0s 6us/sample - loss: 0.0741 - binary_accuracy: 0.9047 - val_loss: 0.1120 - val_binary_accuracy: 0.8470
Epoch 97/500
8000/8000 [==============================] - 0s 6us/sample - loss: 0.0719 - binary_accuracy: 0.9093 - val_loss: 0.1170 - val_binary_accuracy: 0.8395
Epoch 98/500
8000/8000 [==============================] - 0s 6us/sample - loss: 0.0728 - binary_accuracy: 0.9075 - val_loss: 0.1109 - val_binary_accuracy: 0.8580
Epoch 99/500
8000/8000 [==============================] - 0s 6us/sample - loss: 0.0728 - binary_accuracy: 0.9064 - val_loss: 0.1131 - val_binary_accuracy: 0.8490
Epoch 100/500
8000/8000 [==============================] - 0s 6us/sample - loss: 0.0738 - binary_accuracy: 0.9035 - val_loss: 0.1144 - val_binary_accuracy: 0.8410
Epoch 101/500
8000/8000 [==============================] - 0s 6us/sample - loss: 0.0721 - binary_accuracy: 0.9080 - val_loss: 0.1108 - val_binary_accuracy: 0.8560
Epoch 102/500
8000/8000 [==============================] - 0s 6us/sample - loss: 0.0718 - binary_accuracy: 0.9078 - val_loss: 0.1130 - val_binary_accuracy: 0.8530
Epoch 103/500
8000/8000 [==============================] - 0s 6us/sample - loss: 0.0714 - binary_accuracy: 0.9106 - val_loss: 0.1224 - val_binary_accuracy: 0.8260
Epoch 104/500
8000/8000 [==============================] - 0s 6us/sample - loss: 0.0711 - binary_accuracy: 0.9086 - val_loss: 0.1131 - val_binary_accuracy: 0.8510
Epoch 105/500
8000/8000 [==============================] - 0s 6us/sample - loss: 0.0698 - binary_accuracy: 0.9118 - val_loss: 0.1150 - val_binary_accuracy: 0.8405
Epoch 106/500
8000/8000 [==============================] - 0s 5us/sample - loss: 0.0709 - binary_accuracy: 0.9093 - val_loss: 0.1104 - val_binary_accuracy: 0.8545
Epoch 107/500
8000/8000 [==============================] - 0s 5us/sample - loss: 0.0694 - binary_accuracy: 0.9126 - val_loss: 0.1159 - val_binary_accuracy: 0.8540
Epoch 108/500
8000/8000 [==============================] - 0s 6us/sample - loss: 0.0704 - binary_accuracy: 0.9093 - val_loss: 0.1154 - val_binary_accuracy: 0.8455
Epoch 109/500
8000/8000 [==============================] - 0s 6us/sample - loss: 0.0708 - binary_accuracy: 0.9101 - val_loss: 0.1173 - val_binary_accuracy: 0.8385
Epoch 110/500
8000/8000 [==============================] - 0s 6us/sample - loss: 0.0692 - binary_accuracy: 0.9134 - val_loss: 0.1142 - val_binary_accuracy: 0.8510
Epoch 111/500
8000/8000 [==============================] - 0s 7us/sample - loss: 0.0702 - binary_accuracy: 0.9085 - val_loss: 0.1150 - val_binary_accuracy: 0.8430
Epoch 112/500
8000/8000 [==============================] - 0s 6us/sample - loss: 0.0699 - binary_accuracy: 0.9118 - val_loss: 0.1118 - val_binary_accuracy: 0.8560
Epoch 113/500
8000/8000 [==============================] - 0s 6us/sample - loss: 0.0677 - binary_accuracy: 0.9158 - val_loss: 0.1082 - val_binary_accuracy: 0.8565
Epoch 114/500
8000/8000 [==============================] - 0s 6us/sample - loss: 0.0717 - binary_accuracy: 0.9078 - val_loss: 0.1134 - val_binary_accuracy: 0.8515
Epoch 115/500
8000/8000 [==============================] - 0s 5us/sample - loss: 0.0662 - binary_accuracy: 0.9202 - val_loss: 0.1121 - val_binary_accuracy: 0.8520
Epoch 116/500
8000/8000 [==============================] - 0s 5us/sample - loss: 0.0702 - binary_accuracy: 0.9097 - val_loss: 0.1162 - val_binary_accuracy: 0.8385
Epoch 117/500
8000/8000 [==============================] - 0s 5us/sample - loss: 0.0699 - binary_accuracy: 0.9116 - val_loss: 0.1147 - val_binary_accuracy: 0.8505
Epoch 118/500
8000/8000 [==============================] - 0s 6us/sample - loss: 0.0673 - binary_accuracy: 0.9126 - val_loss: 0.1235 - val_binary_accuracy: 0.8295
Epoch 119/500
8000/8000 [==============================] - 0s 6us/sample - loss: 0.0664 - binary_accuracy: 0.9156 - val_loss: 0.1094 - val_binary_accuracy: 0.8590
Epoch 120/500
8000/8000 [==============================] - 0s 5us/sample - loss: 0.0686 - binary_accuracy: 0.9134 - val_loss: 0.1133 - val_binary_accuracy: 0.8490
Epoch 121/500
8000/8000 [==============================] - 0s 6us/sample - loss: 0.0659 - binary_accuracy: 0.9166 - val_loss: 0.1106 - val_binary_accuracy: 0.8600
Epoch 122/500
8000/8000 [==============================] - 0s 6us/sample - loss: 0.0674 - binary_accuracy: 0.9147 - val_loss: 0.1131 - val_binary_accuracy: 0.8490
Epoch 123/500

## Part 3 - Make a prediction

Could you pleas tell me if this person will leave the bank or not?

- Credit = 600
- Geography= France
- Gender = Male
- Age= 40
- Tenure= 3
- Balance= 60000
- NumOfProducts=2
- HasCard=1
- IsActiveMember = 1
- EstimatedSalary=50000

In [46]:
num_cols = {
    "CreditScore": 600, 
    "Age": 40, 
    "Tenure": 3, 
    "Balance": 60000, 
    "NumOfProducts": 2, 
    "HasCrCard": 1, 
    "IsActiveMember": 1, 
    "EstimatedSalary": 50000
}

cat_cols = {
    "Geography": "France",
    "Gender": "Male"
}

df_num = pd.DataFrame(num_cols, index=[0])
df_cat = pd.DataFrame(cat_cols, index=[0])

# encode categorical data
df_cat = pd.DataFrame(enc.transform(df_cat).toarray())

# build final df
df_final = pd.DataFrame(df_num)
df_final = df_final.join(df_cat)
df_final

,CreditScore,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,0,1,2,3,4
0,600,40,3,60000,2,1,1,50000,1.0,0.0,0.0,0.0,1.0

In [47]:
nn.predict(df_final.values)

array([[0.]], dtype=float32)

In [48]:
nn.predict_classes(df_final.values)

array([[0]])